<section class="login-page">

  <div ng-show="data.inactivityLogout" class="inactivity-logout-message">
    <h6>You have been logged out due to inactivity, please login again.</h6>
    <p ng-click="view.closeInactivityNotification()">x</p>
  </div>

  <div class="login-container">

    <div class="indigo-logo-login"></div>

    <form class="login-form control-group" ng-submit="data.submitLoginCredentials()">
      <input class="form-control" type="text" ng-model="data.username" placeholder="username" required>
      <input class="form-control" type="password" ng-model="data.password" placeholder="password" required>
      <input class="form-control" type="submit" value="Login">
    </form>


  </div>

</section>
