<section class="function-section view_dashboards">

  <section class="dash-selection">

    <select class="form-control dash-school-selection" ng-change="view.updateVersionOptions()" ng-model="view.dashMschoolCode">
      <option value=""> -- Select School -- </option>
      <option ng-repeat="school in data.availableCollections" value="{{school.code}}">{{school.optionDisplay}}</option>
    </select>

    <select ng-hide="!view.dashMschoolCode" class="form-control dash-version-selection" ng-change="view.loadVersion()" ng-model="view.dashMschoolVersion">
      <option value=""> -- Select Version -- </option>
      <option ng-repeat="(version, versionData) in view.currentVersions" value="{{version}}">{{version}}</option>
    </select>

    <button class="form-control full-screen-dash" ng-hide="!view.dashMschoolVersion" ng-click="view.openFSDashboard()">View in Full Screen</button>

  </section>

  <iframe ng-show="view.showMDashboard" class="dashM-iframe" src="{{view.iframeSrc}}" width="100%" height="750px" frameborder="0"></iframe>

</section>
