<a href="/"><h1>Indigo Project Business Utilities</h1></a>

<section class="select-function">
  <h4 class="select-function">Select Function:</h4>
  <select class="form-control" ng-model="view.selectedFunction" ng-change="view.accessFunction()">
    <option value="default"> -- no selection -- </option>
    <option value="pbi_pfmt">TTI -> Power BI Preformatting</option>
    <option value="blue_list">Blue List Generation</option>
    <option value="ent_list">Entrepreneur List Generation</option>
    <option value="tti_massdl">TTI Mass Download</option>
  </select>
</section>
