section.instructions {
  border-bottom: 1px solid black;
}

div.option-select-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

div.option-select-2 {
  display: flex;
  button {
    width: 200px;
    margin-right: 20px;
    background-color: rgb(241, 241, 241);
    color: black;
    border: 1px solid black;
    box-shadow: -1px 1px 1px 0px black;
  }
  .option-selected {
    background-color: rgb(25, 90, 255);
    color: white;
    outline: none;
    border: 1px solid black;
    box-shadow: -1px 1px 1px 0px black;
  }
}

div.report-metadata {
  display: flex;
  margin-bottom: 20px;
  div {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
  }
}

select.role {
  width: 150px;
}

input.year-taken {
  width: 250px;
}

input.student-class {
  width: 100px;
}

div.upload-action {
  display: flex;
  input {
    margin-right: 25px;
  }
}

form.add-reports-dg {
  display: flex;
  flex-direction: column;
}

form.download-form {
  div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  input {
    width: 400px;
  }
  button {
    font-weight: bold;
    font-size: 14px;
  }
}

table.queued-reports {
  width: 600px;
}

section.dashboard {
  margin: 5vh 5vw 5vh 0vw;
  width: 100%;
}

section.dashboard-frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 750px;
  // overflow: hidden;
  // resize: both;
  // border: 1px solid black;
  padding: 10px;
}

nav.dashboard-nav {
  display: flex;
}

p.dashboard-nav {
  margin-right: 15px;
  border: 1px solid black;
  padding: 2px 5px 2px 5px;
  font-weight: bold;
  &:hover {
    color: blue;
    border: 1px solid blue;
    cursor: pointer;
    cursor: hand;
  }
}

button.format-data {
  margin-right: 20px;
}

button.view-iframe {
  width: 200px;
  margin-bottom: 15px;
}

p.dash-frame-selected {
  background-color: rgb(172, 203, 255);
}

section.studentData {
  display: flex;
  flex-direction: column;
  section.sd-row1 {
    height: 75px;
    // background-color: red;
    h3 {
      margin: 0px;
    }
  }
  section.sd-row2 {
    display: flex;
    section.sd-column1 {
      display: flex;
      flex-direction: column;
      width: 17%;
      height: 655px;
      // background-color: rgb(148, 227, 255);
    }
    section.sd-column2 {
      display: flex;
      flex-direction: column;
      width: 87%;
      height: 655px;
      section.sd-column2-row1 {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        // background-color: green;
      }
      section.sd-column2-row2 {
        display: flex;
        width: 98%;
        height: 133px;
        // background-color: yellow;
      }
    }
  }
}

div.student-data-table {
  height: fit-content;
  width: fit-content;
  margin: 0px;
  border: 1px solid black;
}

table.student-data {
	width: 1050px;
  table-layout: fixed;
	border-collapse: collapse;
  border-bottom: 1px solid #ccc;
  td:nth-child(1), th:nth-child(1) { width: 150px; }
  td:nth-child(2), th:nth-child(2) { width: 50px; }
  td:nth-child(3), th:nth-child(3) { width: 50px; }
  td:nth-child(4), th:nth-child(4) { width: 80px; }
  td:nth-child(5), th:nth-child(5) { width: 80px; }
  td:nth-child(6), th:nth-child(6) { width: 80px; }
  td:nth-child(7), th:nth-child(7) { width: 80px; }
  td:nth-child(8), th:nth-child(8) { width: 80px; }
  td:nth-child(9), th:nth-child(9) { width: 80px; }
  td:nth-child(10), th:nth-child(10) { width: 80px; }
  td:nth-child(11), th:nth-child(11) { width: 80px; }
  td:nth-child(12), th:nth-child(12) { width: 80px; }
  th:nth-child(13) { width: 100px; }
  td:nth-child(13) { width: 85px; }
  thead {
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: auto;
    width: 1071px;
    height: 500px;
    td {
      border-bottom: 1px solid rgb(130, 130, 130);
      border-right: 1px solid rgb(130, 130, 130);
      &:nth-child(3) {
        border-right: 1px solid black;
      }
      &:nth-child(7) {
        border-right: 1px solid black;
      }
    }
  }
}

section.student-filter-outer {
  width: 100%;
  height: 215px;
  // background-color: orange;
}

section.student-filter-inner {
  width: 80%;
  border: 1px solid rgb(148, 148, 148);
  padding: 5px;
}

div.student-filter {
  width: 100%;
  height: 140px;
  overflow-y: scroll;
  overflow-x: auto;
  label {
    margin: 0 0 0 10px;
    p {
      display: inline;
      margin: 0;
    }
  }
}

section.class-filter-outer {
  width: 100%;
  height: 100px;
}

section.class-filter-inner {
  width: 80%;
  margin-top: 40px;
  border: 1px solid rgb(198, 198, 198);
  padding: 5px;
}

div.class-filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70px;
  height: auto;
  label {
    margin: 0 0 0 10px;
    p {
      display: inline;
      margin: 0;
    }
  }
}

section.gender-filter-outer {
  width: 100%;
  height: 305px;
  // background-color: pink;
}

section.gender-filter-inner {
  width: 80%;
  margin-top: 40px;
  border: 1px solid rgb(198, 198, 198);
  padding: 5px;
}

div.gender-filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70px;
  height: auto;
  label {
    margin: 0 0 0 10px;
    p {
      display: inline;
      margin: 0;
    }
  }
}

section.gender-filter {
  width: 100%;
  height: 305px;
}

section.student-count {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 23%;
  height: 132.38px;
  margin-left: 50px;
}

div.student-count {
  h1 {
    text-align: center;
    margin: 0;
  }
  h3 {
    text-align: center;
    color: rgb(198, 198, 198);
    margin: 0;
  }
}

section.adult-avgs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 77%;
  height: 132.38px;
  // background-color: brown;
}

table.adult-avgs {
  border-collapse: collapse;
  td, th {
    padding: 3px 7px 3px 6px;
    text-align: left;
  }
  th {
    background-color: rgb(138, 255, 244);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0.5px solid rgb(130, 130, 130);
    border-right: 0.5px solid rgb(130, 130, 130);
  }
  td {
    border-left: 0.5px solid rgb(231, 231, 231);
  }
}

th.student-data {
	background: #333;
	color: white;
	font-weight: bold;
	cursor: s-resize;
	// background-repeat: no-repeat;
  // background-position: 3% center;
}

tr.student-data:hover td {
  font-weight: bold;
}

td.student-data, th.student-data {
	padding: 4px;
	border: 1px solid #ccc;
	text-align: left;
  font-size: 9px;
}

th.des:after {
  // content: "\21E9";
}

th.asc:after {
  // content: "\21E7";
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

section.dash-selection {
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  select {
    margin-right: 20px;
  }
}

button.full-screen-dash {
  width: 200px;
}

iframe.dashM-iframe {
  margin-top: 20px;
  overflow: hidden;
  resize: both;
  border: 1px solid black;
}
