section.dashboard-outer-frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

span.sd-title-name {
  font-weight: 600;
}

span.sd-title-static {
  font-weight: 300;
}

input[type=checkbox]{
  transform: scale(1);
}

section.dashboard-inner-frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  section.sd-row1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    h1 {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0px;
    }
  }
  section.sd-row2 {
    display: flex;
    width: 100%;
    section.sd-column1 {
      display: flex;
      flex-direction: column;
      width: 16%;
      justify-content: space-between;
    }
    section.sd-column2 {
      display: flex;
      flex-direction: column;
      width: 84%;
      section.sd-column2-row1 {
        display: flex;
        justify-content: flex-start;
        width: 100%;
      }
      section.sd-column2-row2 {
        display: flex;
        width: 100%;
      }
    }
  }
}

div.student-data-table {
  width: 100%;
  height: fit-content;
  margin: 0px;
  border: 1px solid black;
}

table.student-data {
  table-layout: fixed;
	border-collapse: collapse;
  border-bottom: 1px solid #ccc;
  thead {
    th {
      overflow: hidden;
    }
    tr {
      display: block;
      position: relative;
    }
  }
  tbody.student-data {
    display: block;
    overflow: overlay;
    &::-webkit-scrollbar * {
      background: transparent;
    }
    td {
      border-bottom: 1px solid rgb(130, 130, 130);
      border-right: 1px solid rgb(130, 130, 130);
      &:nth-child(1):hover {
        cursor: pointer;
        cursor: hand;
      }
      &:nth-child(3) {
        border-right: 1px solid black;
      }
      &:nth-child(7) {
        border-right: 1px solid black;
      }
    }
  }
  tbody.student-data-averages {
    display: block;
    border-top: 2px solid black;
    tr {
      &.current-population-averages {
        background-color: rgb(215, 213, 213);
        // background-color: rgb(200, 255, 250);
      }
      &.adult-averages {
        background-color: rgb(245, 245, 245);
        // background-color: rgb(200, 255, 250);
      }
      &:nth-child(1) {
        border-bottom: 1px solid rgb(130, 130, 130);
      }
    }
    td {
      font-weight: bold;
      border-right: 1px solid rgb(130, 130, 130);
      &:nth-child(3) {
        border-right: 1px solid black;
      }
      &:nth-child(7) {
        border-right: 1px solid black;
      }
    }
  }
}

h4.filter-header {
  margin: 0;
  font-weight: 600;
}

label.filter-label {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  // height: fit-content;
  max-height: 20px;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
  cursor: hand;
  input {
    display: flex;
    // height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  p {
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    margin: 0;
    &:hover {
      font-weight: bold;
    }
  }
}

form.filter-form {
  height: fit-content;
}

// STUDENT FILTER
section.student-filter-outer-frame {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

section.student-filter-frame {
  width: 80%;
  border: 1px solid black;
}

input.search-bar {
  width: 100%;
  padding: 1px;
  margin: 0;
  border-width: 1px;
}

div.student-filter-options {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  overflow-y: scroll;
  overflow-x: auto;
  label p {
    display: inline;
    margin: 0;
  }
}

// GENDER FILTER
section.gender-filter-outer-frame {
  width: 100%;
}

section.gender-filter-frame {
  width: 80%;
  height: fit-content;
  border: 1px solid black;
}

div.gender-filter-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  label p {
    display: inline;
    margin: 0;
  }
}

// CLASS FILTER
section.class-filter-outer-frame {
  width: 100%;
  height: fit-content;
}

section.class-filter-frame {
  width: 80%;
  height: fit-content;
  border: 1px solid black;
}

div.class-filter-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  label p {
    display: inline;
    margin: 0;
  }
}

section.student-count {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 23%;
}

div.student-count {
  h1 {
    text-align: center;
    margin: 0;
  }
  h3 {
    text-align: center;
    color: rgb(198, 198, 198);
    margin: 0;
  }
}

section.adult-avgs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 77%;
}

div.adult-avgs h5 {
  font-weight: 600;
}

table.adult-avgs {
  border-collapse: collapse;
  td, th {
    padding: 3px 7px 3px 6px;
    text-align: left;
  }
  th {
    background-color: rgb(200, 255, 250);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0.5px solid rgb(130, 130, 130);
    border-right: 0.5px solid rgb(130, 130, 130);
  }
  td {
    border-left: 0.5px solid rgb(231, 231, 231);
  }
}

th.student-data {
  // display: flex;
  // justify-content: space-between;
	background: #333;
	color: white;
	font-weight: bold;
	cursor: s-resize;
}

tr.student-data:hover td {
  font-weight: bold;
}

td.student-data, td.stat-cell, th.student-data {
	// padding: 4px;
	border: 1px solid #ccc;
	text-align: left;
  // font-size: 10.5px;
}

th.des:after {
  content: "\21E9";
  float: right;
}

th.asc:after {
  content: "\21E7";
  float: right;
}

div.student-data-table {
  position: relative
}

div.dashboard-no-data-display {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  width: 100%;
}

div.no-data-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

button.no-data-cta {
  width: 50%;
  font-weight: bold;
  vertical-align: center;
}

div.filter-options {
  display: flex;
  align-items: flex-end;
  height: max-content;
}

p.reset-filters-cta {
  width: fit-content;
  font-size: 12px;
  margin: 0 0 23px 0;
  padding: 0;
  color: rgb(106, 139, 255);
  &:hover {
    color: rgb(20, 2, 245);
    cursor: pointer;
    cursor: hand;
  }
}
