// **************************
// **************************
// Dashboard Generator UX/UI
// **************************
// **************************

section.instructions {
  border-bottom: 1px solid black;
}

div.option-select-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

div.option-select-2 {
  display: flex;
  button {
    width: 200px;
    margin-right: 20px;
    background-color: rgb(241, 241, 241);
    color: black;
    border: 1px solid black;
    box-shadow: -1px 1px 1px 0px black;
  }
  .option-selected {
    background-color: rgb(25, 90, 255);
    color: white;
    outline: none;
    border: 1px solid black;
    box-shadow: -1px 1px 1px 0px black;
  }
}

div.report-metadata {
  display: flex;
  margin-bottom: 20px;
  div {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
  }
}

select.role {
  width: 150px;
}

input.year-taken {
  width: 250px;
}

input.student-class {
  width: 100px;
}

div.upload-action {
  display: flex;
  input {
    margin-right: 25px;
  }
}

form.add-reports-dg {
  display: flex;
  flex-direction: column;
}

form.download-form {
  display: flex;
  div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  select {
    margin-right: 20px;
  }
  input {
    width: 300px;
    margin-right: 20px;
  }
  button {
    font-weight: bold;
    font-size: 14px;
  }
}

table.queued-reports {
  width: 600px;
}

section.dashboard {
  margin: 5vh 5vw 5vh 0vw;
  width: 100%;
}

nav.dashboard-nav {
  display: flex;
}

p.dashboard-nav {
  margin-right: 15px;
  border: 1px solid black;
  padding: 2px 5px 2px 5px;
  font-weight: bold;
  &:hover {
    color: blue;
    border: 1px solid blue;
    cursor: pointer;
    cursor: hand;
  }
}

button.format-data {
  margin-right: 20px;
}
