// ***************
// ***************
// Dashboard Frame
// ***************
// ***************

section.dashboard-frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

span.sd-title-name {
  font-weight: 600;
}

span.sd-title-static {
  font-weight: 300;
}

input[type=checkbox]{
  transform: scale(1);
}

section.dashboard-studentData {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  section.sd-row1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    h1 {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0px;
    }
  }
  section.sd-row2 {
    display: flex;
    width: 100%;
    section.sd-column1 {
      display: flex;
      flex-direction: column;
      width: 16%;
    }
    section.sd-column2 {
      display: flex;
      flex-direction: column;
      width: 84%;
      section.sd-column2-row1 {
        display: flex;
        justify-content: flex-start;
        width: 100%;
      }
      section.sd-column2-row2 {
        display: flex;
        width: 100%;
        // height: 133px;
      }
    }
  }
}

div.student-data-table {
  width: 100%;
  height: fit-content;
  margin: 0px;
  border: 1px solid black;
}

table.student-data {
  table-layout: fixed;
	border-collapse: collapse;
  border-bottom: 1px solid #ccc;
  thead {
    th {
      overflow: hidden;
    }
    tr {
      display: block;
      position: relative;
    }
  }
  tbody {
    display: block;
    overflow: overlay;
    &::-webkit-scrollbar * {
      background: transparent;
    }
    // &::-webkit-scrollbar-track-piece:end {
    //     background: transparent url('images/backgrounds/scrollbar.png') repeat-y !important;
    // }
    td {
      border-bottom: 1px solid rgb(130, 130, 130);
      border-right: 1px solid rgb(130, 130, 130);
      &:nth-child(1):hover {
        cursor: pointer;
        cursor: hand;
      }
      &:nth-child(3) {
        border-right: 1px solid black;
      }
      &:nth-child(7) {
        border-right: 1px solid black;
      }
    }
  }
}

h4.filter-header {
  margin: 0;
  font-weight: 600;
}

label.filter-label {
  flex-basis: 100%;
  overflow: hidden;
  height: fit-content;
  padding-top: 0;
  padding-bottom: 0;
  p {
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
  }
}

section.student-filter-frame {
  width: 100%;
}

section.student-filter-outer {
  width: 80%;
  border: 1px solid black;
}

section.student-filter-inner {
  // padding: 10px;
  height: auto;
}

input.search-bar {
  width: 100%;
}

div.student-filter {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  overflow-x: auto;
  // margin: 5px 0 0 0;
  label p {
    display: inline;
    margin: 0;
  }
}

section.gender-filter-frame {
  width: 100%;
}

section.gender-filter-outer {
  width: 80%;
  border: 1px solid black;
}

section.gender-filter-inner {
  // padding: 10px;
  height: auto;
}

div.gender-filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 5px 0 0 0;
  // padding-left: 5px;
  label p {
    display: inline;
    margin: 0;
  }
}

section.gender-filter {
  width: 100%;
  // height: 305px;
}

section.class-filter-frame {
  width: 100%;
}

section.class-filter-outer {
  width: 80%;
  border: 1px solid black;
}

section.class-filter-inner {
  // padding: 10px;
  height: auto;
}

div.class-filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 5px 0 0 0;
  // margin-bottom: 5px;
  // padding-left: 5px;
  label p {
    display: inline;
    margin: 0;
  }
}

section.student-count {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 23%;
  // height: 132.38px;
  // margin-left: 20px;
}

div.student-count {
  h1 {
    text-align: center;
    margin: 0;
  }
  h3 {
    text-align: center;
    color: rgb(198, 198, 198);
    margin: 0;
  }
}

section.adult-avgs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 77%;
  // height: 132.38px;
  // background-color: brown;
}

div.adult-avgs h5 {
  font-weight: 600;
}

table.adult-avgs {
  border-collapse: collapse;
  td, th {
    padding: 3px 7px 3px 6px;
    text-align: left;
  }
  th {
    background-color: rgb(200, 255, 250);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0.5px solid rgb(130, 130, 130);
    border-right: 0.5px solid rgb(130, 130, 130);
  }
  td {
    border-left: 0.5px solid rgb(231, 231, 231);
  }
}

th.student-data {
	background: #333;
	color: white;
	font-weight: bold;
	cursor: s-resize;
	// background-repeat: no-repeat;
  // background-position: 3% center;
}

tr.student-data:hover td {
  font-weight: bold;
}

td.student-data, th.student-data {
	padding: 4px;
	border: 1px solid #ccc;
	text-align: left;
  // font-size: 10.5px;
}

th.des:after {
  // content: "\21E9";
}

th.asc:after {
  // content: "\21E7";
}

div.student-data-table {
  position: relative
}

div.dashboard-no-data-display {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  // background-color: rgba(78, 168, 134, 0.6);
}

div.no-data-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

h3.no-data-message {
  // font-size: 24px;
}

button.no-data-cta {
  width: 50%;
  // font-size: 16px;
  // margin-top: 30px;
  font-weight: bold;
  vertical-align: center;
}

// section.class-filter-frame {
//   height: fit-content;
// }
