section.dashboard-studentdetails {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
}

section.student-window {
  background-color: white;
  width: 90vw;
  height: 90vh;
  border: 1px solid #4F4498;
  padding: 10px 15px 15px 10px;
}

section.sde-row1 {

}

section.sde-row2 {

}
