<section ng-click="view.closeStudentDetails($event)" class="dashboard-studentdetails">

  <section class="student-window">

    <section class="sde-row1">
      <div class="sde-spacer"></div>
      <div class="sde-header">
        <h3 class="sde-name"></h3>
        <div class="sde-dems1"></div>
      </div>
    </section>

    <section class="sde-row2">
      <div class="sde-dems2">
        <div class="sde-dems2-0"></div>
        <div class="sde-dems2-1"></div>
        <div class="sde-dems2-2"></div>
      </div>
      <div class="sde-flags">

      </div>

    </section>

    <section class="sde-row3">
      <div class="sde-disc"></div>
      <div class="sde-motivators"></div>
      <div class="sde-skills"></div>
    </section>

    <section class="sde-row4">
      <div class="sde-se">
        <div class="sde-se-0"></div>
        <div class="sde-se-1"></div>
      </div>
      <div class="sde-sed">
        <div class="sde-sed-0"></div>
        <div class="sde-sed-1"></div>
        <div class="sde-sed-2"></div>
      </div>
    </section>

  </section>

</section>
