<section ng-click="view.closeStudentDetails($event)" class="dashboard-studentdetails">

  <section class="student-window">

    <div class="exit-button" ng-click="view.closeStudentDetails()">x</div>

    <section class="sde-row1">
      <div class="sde-spacer"></div>
      <div class="sde-header">
        <h3 class="sde-name"></h3>
        <div class="sde-dems1"></div>
        <div class="sde-flags">
      </div>
    </section>

    <section class="sde-row2">
      <div class="sde-dems2">
        <div class="sde-dems2-header">
          <h4 class="sde-row2-title">Academic & Career Profile</h4>
        </div>
        <div class="sde-dems2-content">
          <div class="sde-dems2-0"></div>
          <div class="sde-dems2-1"></div>
          <div class="sde-dems2-2"></div>
        </div>
      </div>

      </div>

    </section>

    <section class="sde-row3">
      <div class="sde-disc">
        <div class="sde-disc-header">
          <h4 class="sde-row3-title">DISC</h4>
          <figcaption class="sde-row3-title-caption">*natural vs. adapted</figcaption>
        </div>
        <div class="sde-disc-content"></div>
      </div>
      <div class="sde-motivators">
        <div class="sde-motivators-header">
          <h4 class="sde-row3-title">Motivators</h4>
          <figcaption class="sde-row3-title-caption">*versus average</figcaption>
          <div class="sort-option">
            <h6>sort by:</h6>
            <select class="motivators-sort-dropdown form-control">
              <option value="highest-lowest">highest to lowest</option>
              <option value="alphabetical">alphabetical</option>
              <option value="relation-to-adult-avg">relation to adult average</option>
              <!-- <option value="distance-from-adult-avg">distance from corporate average (highest to lowest)</option> -->
              <!-- <option value="distance-from-school-avg">distance from school average</option> -->
            </select>
          </div>
        </div>
        <div class="sde-motivators-content"></div>
      </div>
      <div class="sde-skills">
        <div class="sde-skills-header">
          <h4 class="sde-row3-title">Skills</h4>
          <figcaption class="sde-row3-title-caption">*versus average</figcaption>
          <div class="sort-option">
            <h6>sort by:</h6>
            <select class="skills-sort-dropdown form-control">
              <option value="highest-lowest">highest to lowest</option>
              <option value="alphabetical">alphabetical</option>
              <option value="relation-to-adult-avg">relation to adult average</option>
              <!-- <option value="distance-from-adult-avg">distance from corporate average (highest to lowest)</option> -->
              <!-- <option value="distance-from-school-avg">distance from school average</option> -->
            </select>
          </div>
        </div>
        <div class="sde-skills-content"></div>
      </div>
    </section>

    <section class="sde-row4">
      <div class="sde-se">
        <div class="sde-se-header">
          <h4 class="sde-row4-title">Social-Emotional</h4>
          <figcaption class="sde-row3-title-caption">*w/ bias</figcaption>
        </div>
        <div class="sde-se-content">
          <div class="sde-se-0"></div>
          <div class="sde-se-1"></div>
        </div>
      </div>
      <div class="sde-sed">
        <div class="sde-sed-header">
          <h4 class="sde-row4-title">School Experience</h4>
        </div>
        <div class="sde-sed-content">
          <div class="sde-sed-0"></div>
          <div class="sde-sed-1"></div>
          <div class="sde-sed-2"></div>
        </div>
      </div>
    </section>

  </section>

</section>
