<section class="dashboard-outer-frame">
  <section class="dashboard-inner-frame">


    <section class="sd-row1">
      <h1 class="sd-title" style="margin: 0;"><span class="sd-title-name"></span><span class="sd-title-static">Indigo Dashboard</span></h1>
    </section>

    <section class="sd-row2">

      <section class="sd-column1">

        <section class="dashboard-filters">

          <section class="student-filter-outer-frame">
            <section class="student-filter-frame">
              <h4 class="filter-header">Student Filter</h4>
              <form ng-model="view.studentFilter" class="filter-form">
                <input class="student-filter search-bar" style="margin: 0;" type="text">
                <div class="student-filter-options checkbox">
                </div>
              </form>
            </section>
          </section>

          <section class="gender-filter-outer-frame">
            <section class="gender-filter-frame">
              <h4 class="filter-header">Gender Filter</h4>
              <form ng-model="view.genderFilter " class="filter-form">
                <div class="gender-filter-options checkbox">
                </div>
              </form>
            </section>
          </section>

          <section class="class-filter-outer-frame">
            <section class="class-filter-frame">
              <h4 class="filter-header">Class Filter</h4>
              <form ng-model="view.classFilter" class="filter-form">
                <div class="class-filter-options checkbox">
                </div>
              </form>
            </section>
          </section>

        </section>

        <div class="filter-options">
          <p class="reset-filters-cta">reset filters</p>
        </div>

      </section>

      <section class="sd-column2">

        <section class="sd-column2-row1">
          <div class="student-data-table"></div>
        </section>

        <section class="sd-column2-row2">

          <section class="student-count">
            <div class="student-count">
              <h1>{{data.studentNumber}}</h1>
              <h3>Students</h3>
            </div>
          </section>

          <section class="adult-avgs">
            <div class="adult-avgs">
              <h5>Corporate Adult Averages</h5>
              <table class="adult-avgs">
                <thead class="adult-avgs">
                  <th>Dominance</th>
                  <th>Influencing</th>
                  <th>Steadiness</th>
                  <th>Compliance</th>
                  <th>Theoretical</th>
                  <th>Utilitarian</th>
                  <th>Aesthetic</th>
                  <th>Social</th>
                  <th>Individualistic</th>
                  <th>Traditional</th>
                </thead>
                <tbody class="adult-avgs">
                  <tr>
                    <td>43.0</td>
                    <td>58.7</td>
                    <td>60.7</td>
                    <td>50.5</td>
                    <td>6.0</td>
                    <td>5.3</td>
                    <td>4.3</td>
                    <td>4.2</td>
                    <td>5.5</td>
                    <td>4.7</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>

        </section>

      </section>

    </section>

  </section>

  </section>
