<section class="dashboard-outer-frame">

  <span ng-show="data.fathymContainer" class="glyphicon glyphicon-fullscreen fullscreen-toggle" ng-click="view.toggleFullScreen()" title='Toggle Fullscreen'></span>

  <section class="dashboard-inner-frame">


    <section class="sd-row1">
      <h1 class="sd-title" style="margin: 0;"><span class="sd-title-name"></span><span class="sd-title-static">Indigo Dashboard</span></h1>
    </section>

    <section class="sd-row2">

      <section class="sd-column1">

        <section class="dashboard-filters">

          <section class="student-filter-outer-frame">
            <section class="student-filter-frame">
              <h4 class="filter-header">Student Filter</h4>
              <form ng-model="view.studentFilter" class="filter-form">
                <input class="student-filter search-bar" style="margin: 0;" type="text">
                <div class="student-filter-options checkbox">
                </div>
              </form>
            </section>
          </section>

          <section class="gender-filter-outer-frame">
            <section class="gender-filter-frame">
              <h4 class="filter-header">Gender Filter</h4>
              <form ng-model="view.genderFilter " class="filter-form">
                <div class="gender-filter-options checkbox">
                </div>
              </form>
            </section>
          </section>

          <section class="class-filter-outer-frame">
            <section class="class-filter-frame">
              <h4 class="filter-header">Class Filter</h4>
              <form ng-model="view.classFilter" class="filter-form">
                <div class="class-filter-options checkbox">
                </div>
              </form>
            </section>
          </section>

        </section>

        <section class="filter-options">
          <p class="reset-filters-cta">reset filters</p>
        </section>


      </section>

      <section class="sd-column2">

        <div class="student-data-table"></div>

      </section>

    </section>

  </section>

  </section>
