<section class="function-section dashboard-manager">

  <section class="dash-selection">

    <h4 class="loading-manager-options" ng-show="!data.schoolNameOptionsLoaded" ng-cloak>Loading Schools...</h4>

    <select class="form-control dash-school-selection" ng-show="data.schoolNameOptionsLoaded" ng-change="view.updateVersionOptions()" ng-model="view.dashMschoolCode">
      <option value=""> -- Select School -- </option>
      <option ng-repeat="school in data.dbCollections" value="{{school.nameOptions.code}}">{{school.nameOptions.optionDisplay}}</option>
    </select>

    <select ng-hide="!view.dashMschoolCode" class="form-control dash-version-selection" ng-change="view.loadVersion()" ng-model="view.dashMschoolVersion">
      <option value=""> -- Select Version -- </option>
      <option ng-repeat="version in view.currentSchoolVersions" value="{{version.dashboardTitle}}">{{version.dashboardTitle}} -- {{version.dateCreated}}</option>
    </select>

    <button class="form-control full-screen-dash" ng-hide="!view.dashMschoolVersion" ng-click="view.openFSDashboard()">View in Full Screen</button>

    <button class="form-control create-dashboard-action" ng-click="view.openCreateDashboard()">Create Dashboard</button>

  </section>


  <section class="dashboard-manager-interface" ng-show="view.showMDashboard">

    <section class="row-1">

      <iframe class="dashM-iframe" src="{{data.dashboardUrl}}" frameborder="0" allowfullscreen="true"></iframe>

      <section class="dashboard-manager-options">
        <div class="dashboard-manager-option"><span class="glyphicon glyphicon-refresh" title="Refresh Dashboard iFrame" ng-click="view.refreshDMiFrame()"></span></div>
      </section>

      <section class="dashboard-manager-data">
        <div class="dashboard-manager-title">
          <h3 ng-model="data.currentVersionData.versionName">{{data.currentVersionData.versionName}}</h3>
        </div>
        <div class="dashboard-manager-metadata">
          <p class="school-name">School: <strong>{{data.currentVersionData.schoolName}}</strong></p>
          <p>Data Set: <strong>{{data.currentVersionData.dataObjectTitle}}</strong></p>
          <p>Date Created: <strong>{{data.currentVersionData.dateCreated}}</strong></p>
        </div>
        <div class="dashboard-manager-notes">
          <textarea class="dashboard-manager-notes form-control" ng-model="data.currentVersionData.managerNotes" readonly></textarea>
          <div class="dashboard-manager-notes-options">
            <button class="edit-notes form-control" ng-show="view.notesCTA === 'edit'" ng-click="data.editNotes()">Edit Notes</button>
            <button class="edit-notes form-control" ng-show="view.notesCTA === 'save'" ng-click="data.saveNotes()">Save</button>
          </div>
        </div>
      </section>

    </section>


    <section class="row-2">

      <button class="generate-frame form-control" ng-click="data.generateiFrame()">Generate iFrame</button>

      <div class="iframe-html">
        <input class="iframe-html form-control" ng-show="data.showiFrame" ng-model="data.iFrameHTML" readonly>
        <div class="clip-copy-msg copy-success" ng-show="data.copyStatusMessage === 'success' "><span class="glyphicon glyphicon-ok"></span><p>copied to clipboard successfully</p></div>
        <div class="clip-copy-msg copy-failure" ng-show="data.copyStatusMessage === 'failure' "><span class="glyphicon glyphicon-remove"></span><p>failed to copy to clipboard. Copy selection manually with CTRL+C</p></div>
      </div>

      <div ng-show="data.showiFrame" class="iframe-options">
        <p class="copy-iframe" ng-click="data.copyiFrame()">Copy to Clipboard</p>
        <p class="hide-iframe" ng-click="view.hideiFrame()">Hide</p>
      </div>

    </section>

  </section>

</section>
