<section class="function-section dashboard_gen">

  <!-- <section class="instructions">
    <h5>Instructions (Coming Soon)</h5>
    <ol>
      <li><span class="li-item">Export any 'Trimetrix' or 'Talent Insights' assessment data from TTI. This function only works with 'Trimetrix' and 'Talent Insights' assessments, and will not accept other assessment/instrument types.</span></li>
      <li><span class="li-item">Click 'Choose File' to load .csv files one at a time, then 'Add Report'. Multiple .csv files can be processed at one time.</span></li>
      <li><span class="li-item">Enter the output file name, and click 'Generate Entrepreneur List' to generate the entrepreneur list for the given population.</span></li>
    </ol>
  </section> -->

  <div class="option-select-1">
    <h5>1. Select Method for Report Uploading</h5>
    <div class="option-select-2">
      <button class="csv-upload option form-control" ng-click="view.displayOption('csv-upload')" ng-class="{'option-selected': view.uploadOptionStatus === 'csv-upload'}">Upload .csv Export</button>
      <button class="tti-import option form-control" ng-click="view.displayOption('tti-import')" ng-class="{'option-selected': view.uploadOptionStatus === 'tti-import'}">Import from TTI</button>
    </div>
  </div>


  <form name="fileUploader" class="add-reports-dg" ng-show="view.uploadOptionStatus === 'csv-upload'" ng-submit="uploader.addChosenReports('csv upload')">
    <h5>2. Load Reports</h5>
    <div class="report-metadata">
      <div class="select-report-type">
        <h6>Select Role</h6>
        <select class="form-control role" ng-model="uploader.role">
          <option value=""> -- select role -- </option>
          <option value="Students">Students</option>
          <option value="Staff">Staff</option>
        </select>
      </div>
      <div ng-show="uploader.role === 'Students'" class="year-taken">
        <h6>Enter School Year Taken (format: 2016-2017)</h6>
        <input type="text" class="form-control year-taken" pattern=".{9}" ng-model="uploader.schoolYearTaken">
      </div>
      <div ng-show="uploader.role === 'Students'">
        <h6>Enter Class (format: 2020)</h6>
        <input type="text" class="form-control student-class" pattern=".{4}" ng-model="uploader.class">
      </div>
    </div>
    <div class="upload-action">
      <input class="upload-csv form-control" id="tti-file-uploader" name="files"  type="file" accept=".csv" fileread="uploader.file"></input>
      <button type="submit" class="add-reports form-control">Add Report (1 at a time)</button>
    </div>
  </form>

  <form name="fileUploader" class="add-reports" ng-show="view.uploadOptionStatus === 'tti-import'" ng-submit="uploader.addChosenReports('tti import')">
    <h3>coming soon...</h3>
  </form>

  <div class="queued-reports">
    <h5>Current Report Set for Dashboard Data Object Generation:</h5>
    <table class="table queued-reports">
      <thead>
        <th>File Name</th>
        <th>Role</th>
        <th>School Year Taken</th>
        <th>Class</th>
      </thead>
      <tr ng-repeat="file in uploader.loadedFiles">
        <td>{{file.name}}</td>
        <td>{{file.role}}</td>
        <td>{{file.schoolYearTaken}}</td>
        <td>{{file.class}}</td>
      </tr>
    </table>
  </div>

  <form class="download-form" ng-submit="data.generateDashboard()">
    <!-- <div> -->
    <select class="form-control dashboard-school-name" name="schoolName" ng-init="view.loadSchoolNameOptions()" ng-model="data.schoolCode">
      <option value=""> -- Select School -- </option>
      <option ng-repeat="school in view.schoolNameOptions" value="{{school.code}}">{{school.optionDisplay}}</option>
    </select>
    <!-- </div> -->
    <input type="text" class="dashboard-version-name form-control" ng-model="data.dashboardDataObjectName" placeholder="Enter Data Object Title" required>
    <button type="submit" class="format-data form-control">Generate Dashboard Data Object</button>
    <div class="dash-gen-success" ng-show="view.dashboardCreationStatus === 'generating'">
      <h4 class="dash-success-message">Generating Dashboard...</h4>
    </div>
    <div class="dash-gen-success" ng-show="view.dashboardCreationStatus === 'success'">
      <h4 class="dash-success-message">Success! "{{view.dashboardGeneratedVersion}}" created for "{{view.dashboardGeneratedSchool}}"</h4>
    </div>
  </form>

</section>
