<section class="function-section">

  <section class="sdm-selection">

    <h4 class="loading-manager-options" ng-show="!data.schoolNameOptionsLoaded" ng-cloak>Loading Schools...</h4>

    <select class="form-control dash-school-selection" ng-show="data.schoolNameOptionsLoaded" ng-change="view.loadDataObjectsForSchool()" ng-model="view.schoolSelection">
      <option value=""> -- Select School -- </option>
      <option ng-repeat="school in data.dbCollections" value="{{school.nameOptions.code}}">{{school.nameOptions.optionDisplay}}</option>
    </select>

    <button class="form-control create-data-set" ng-click="view.redirectToDashboardGenerator()">Create School Data Set</button>

  </section>

  <section ng-show="view.showInterface" class="data-manager-interface">

    <section class="data-manager-objects-sidebar">

      <h5 ng-show="view.noDataObjects">No Data for Current School</h5>

      <div ng-class="{'data-object-thumbnail': true, 'do-selected': view.selectedDataObjReference[0] === $index}" ng-repeat="dataObject in view.currentDataObjects" ng-click="view.loadDataObjectIntoInterface($index, $event, dataObject)">

        <p class="do-name">{{dataObject.dataObjectTitle}}</p>
        <p class="do-date"><strong>Created:</strong> {{dataObject.dateCreated}}</p>

        <div class="thumbnail-status-indicators">

          <div class="active-indicator" title="data-set is set to active">
            <span class="active glyphicon glyphicon-ok-circle"></span>
            <p>active</p>
          </div>

          <!-- <div class="inactive-indicator" title="data-set is set to inactive">
          <span class="inactive glyphicon glyphicon-ok-circle"></span>
          <p>active</p>
        </div> -->

          <div class="encrypted-indicator" title="data is encrypted">
            <span class="encrypted glyphicon glyphicon-eye-close"></span>
            <p>secure</p>
          </div>

          <!-- <div class="unencrypted-indicator" title="data is not encrypted">
            <span class="not-encrypted glyphicon glyphicon-eye-open"></span>
            <p>not secure</p>
          </div> -->

        </div>

      </div>

    </section>

    <section class="data-manager-object-interface">

      <h3 class="do-select-cta" ng-show="view.selectedDataObjReference === ''">Select a Data Object from the Side Bar</h3>

      <section ng-show="view.selectedDataObjReference !== ''">

        <section class="data-object-header">

          <h3>{{view.currentDataObject.dataObjectTitle}}</h3>
          <p class="do-date-created">{{view.currentDataObject.dateCreated}}</p>

          <div class="status-indicators">

            <div class="active-indicator" title="data-set is set to active">
              <span class="active glyphicon glyphicon-ok-circle"></span>
              <p>active</p>
            </div>

            <!-- <div class="inactive-indicator" title="data-set is set to inactive">
              <span class="inactive glyphicon glyphicon-ok-circle"></span>
              <p>active</p>
            </div> -->

            <div class="encrypted-indicator" title="data is encrypted">
              <span class="encrypted glyphicon glyphicon-eye-close"></span>
              <p>secure</p>
            </div>

            <!-- <div class="unencrypted-indicator" title="data is not encrypted">
            <span class="not-encrypted glyphicon glyphicon-eye-open"></span>
            <p>not secure</p>
          </div> -->

          </div>

          <span class="settings-action glyphicon glyphicon-cog" ng-click="view.openSettings()"></span>

        </section>

        <section class="data-object-analysis">

        </section>

        <section ng-show="view.settingsOpen" class="data-object-settings">

          <div class="do-settings-header">
            <h4>Configuration</h4>
          </div>

          <div class="do-settings-activate">
            <h5>Activation/Deactivation</h5>
            <p>In order to be eligible for activation, data sets must meet basic security standards and dashboard data validation requirements.</p>
          </div>

          <div class="do-settings-security">
            <h5>Security</h5>
            <p>Data will be automatically encrypted during 'Data Set Creation' as of the beginning of Sprint 2, using the bcrypt standard. Previous data sets may or may not be encrypted. For Data Sets which are not encrypted, an encryption mechanism will be made available through the School Data Manager.</p>
          </div>


          <span class="exit-button" ng-click="view.closeSettings()">x</span>

        </section>

      </section>

    </section>

  </section>

</section>
