body {
  font-family: 'Open Sans', sans-serif;
}

a.head-logo {
  display: flex;
  text-decoration: none;
  width: fit-content;
  h1 {
    margin: 0px;
    display: inline-block;
    color: white;
    &.head-logo-1 {
      // font-family: 'Pacifico', cursive;
      font-family: 'Leckerli One', cursive;
      margin-right: 17px;
      font-size: 30px;
    }
    &.head-logo-2 {
      font-family: 'Quantico', sans-serif;
      font-size: 33px;
    }
  }
}

section.header {
  position: relative;
  padding: 20px;
  background-color: rgba(79, 68, 152, 1);
  border-bottom: 3px solid rgb(64, 64, 64);
}

section.select-functions {
  display: flex;
}

section.select-function {
  margin-right: 30px;
  color: white;
}

h5.select-function {
  margin: 30px 0px 5px 0px;
  padding: 0px;
}

select.form-control {
  width: 300px;
}

section.function-section {
  padding: 20px;
}

input.upload-csv {
  width: 300px;
  background-color: rgb(196, 214, 255);
  border: 1px solid black;
  box-shadow: -1px 1px 1px 0px black;
}

button.add-reports {
  background-color: rgb(152, 254, 162);
  border: 1px solid black;
  box-shadow: -1px 1px 1px 0px black;
}

div.report-type-selection {
  margin-bottom: 20px;
}

button {
  &.add-reports {
    width: 300px;
  }
  &.format-data {
    width: 300px;
  }
}

section.instructions {
  width: 70vw;
  margin-bottom: 30px;
  ol {
    list-style: decimal;
    padding-left: 20px;
    li {
      font-weight: bold;
      font-size: 12px;
    }
  }
}

form.add-reports {
  display: flex;
  input {
    margin-right: 20px;
  }
}

div.queued-reports {
  margin: 30px 0px 50px 0px;
}

table.queued-reports {
  margin-left: 20px;
  width: 800px;
  thead th {
    font-weight: bold;
  }
}

input.format-file-name {
  width: 300px;
  margin-bottom: 10px;
}

div.student-options {
  display: flex;
}

div.year-taken {
  margin-right: 20px;
}

form.download-form {
  display: flex;
  padding-top: 20px;
  border-top: 1px solid black;
  input {
    margin-right: 20px;
  }
  button {
    background-color: rgb(176, 179, 255);
    border: 1px solid black;
    box-shadow: -1px 1px 1px 0px black;
  }
}

form.mass-dl-form {
  display: flex;
  flex-direction: column;
  input {
    margin-bottom: 5px;
    &.short {
      width: 300px;
    }
    &.long {
      width: 700px;
      margin-bottom: 20px;
    }
    &.submit {
      width: 300px;
      background-color: rgb(152, 254, 162);
      border: 1px solid black;
      box-shadow: -1px 1px 1px 0px black;
    }
  }
}

p.input-subtext {
  font-size: 10px;
}

div.mass-dl-row-1 {
  display: flex;
  margin-bottom: 20px;
  div {
    margin-right: 50px;
  }
  h5 {
    padding-top: 30px;;
  }
}

div.mass-dl-row-2 {
  display: flex;
  margin-bottom: 20px;
  div {
    margin-right: 50px;
  }
  div.ver-msg {
    margin-right: 25px;
  }
  h5 {
    padding-top: 30px;
  }
}

div.report-type {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 30px;
}

label.checkbox {
  font-weight: normal;
  font-size: 14px;
}

span.glyphicon-ok {
  color: green;
}

span.glyphicon-remove {
  color: red;
}

div.submit-cta {
  display: flex;
  input {
    margin-right: 20px;
  }
}

h4.success-message {
  color: green;
}

h4.dup-status {
  color: red;
  margin-left: 10px;
}

p.troubleshooting {
  font-size: 9px;
  font-style: italic;
}

span.warning {
  color: red;
}

div.drop-down-headings {
  display: flex;
  h5 {
    margin-right: 20px;
    &:hover {
      color: blue;
      cursor: pointer;
      cursor: hand;
    }
  }
}

div.drop-down-content {
  ul {
    list-style: circle;
    padding-left: 20px;
    li {
      font-size: 12px;
    }
  }
}

span.li-item {
  font-weight: normal;
}

h5.black {
  color: rgb(26, 112, 181);
}

p.input-subtext {
  font-size: 10px;
}
