@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Leckerli+One");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Yellowtail");
@import url("https://fonts.googleapis.com/css?family=Passion+One");
@import url("https://fonts.googleapis.com/css?family=Quantico");
@import url("https://fonts.googleapis.com/css?family=Allura");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
body {
  font-family: 'Open Sans', sans-serif; }

a.head-logo {
  display: flex;
  text-decoration: none;
  width: fit-content; }
  a.head-logo h1 {
    margin: 0px;
    display: inline-block;
    color: white; }
    a.head-logo h1.head-logo-1 {
      font-family: 'Leckerli One', cursive;
      margin-right: 17px;
      font-size: 30px; }
    a.head-logo h1.head-logo-2 {
      font-family: 'Quantico', sans-serif;
      font-size: 33px; }

section.header {
  position: relative;
  padding: 20px;
  background-color: #4f4498;
  border-bottom: 3px solid #404040; }

section.select-functions {
  display: flex; }

section.select-function {
  margin-right: 30px;
  color: white; }

h5.select-function {
  margin: 30px 0px 5px 0px;
  padding: 0px; }

select.form-control {
  width: 300px; }

section.function-section {
  position: relative;
  padding: 20px; }

input.upload-csv {
  width: 300px;
  background-color: #c4d6ff;
  border: 1px solid black;
  box-shadow: -1px 1px 1px 0px black; }

button.add-reports {
  background-color: #98fea2;
  border: 1px solid black;
  box-shadow: -1px 1px 1px 0px black; }

div.report-type-selection {
  margin-bottom: 20px; }

button.add-reports {
  width: 300px; }
button.format-data {
  width: 300px; }

section.instructions {
  width: 70vw;
  margin-bottom: 30px; }
  section.instructions ol {
    list-style: decimal;
    padding-left: 20px; }
    section.instructions ol li {
      font-weight: bold;
      font-size: 12px; }

form.add-reports {
  display: flex; }
  form.add-reports input {
    margin-right: 20px; }

div.queued-reports {
  margin: 30px 0px 50px 0px; }

table.queued-reports {
  margin-left: 20px;
  width: 800px; }
  table.queued-reports thead th {
    font-weight: bold; }

input.format-file-name {
  width: 300px;
  margin-bottom: 10px; }

div.student-options {
  display: flex; }

div.year-taken {
  margin-right: 20px; }

form.download-form {
  display: flex;
  padding-top: 20px;
  border-top: 1px solid black; }
  form.download-form input {
    margin-right: 20px; }
  form.download-form button {
    background-color: #b0b3ff;
    border: 1px solid black;
    box-shadow: -1px 1px 1px 0px black; }

form.mass-dl-form {
  display: flex;
  flex-direction: column; }
  form.mass-dl-form input {
    margin-bottom: 5px; }
    form.mass-dl-form input.short {
      width: 300px; }
    form.mass-dl-form input.long {
      width: 700px;
      margin-bottom: 20px; }
    form.mass-dl-form input.submit {
      width: 300px;
      background-color: #98fea2;
      border: 1px solid black;
      box-shadow: -1px 1px 1px 0px black; }

p.input-subtext {
  font-size: 10px; }

div.mass-dl-row-1 {
  display: flex;
  margin-bottom: 20px; }
  div.mass-dl-row-1 div {
    margin-right: 50px; }
  div.mass-dl-row-1 h5 {
    padding-top: 30px; }

div.mass-dl-row-2 {
  display: flex;
  margin-bottom: 20px; }
  div.mass-dl-row-2 div {
    margin-right: 50px; }
  div.mass-dl-row-2 div.ver-msg {
    margin-right: 25px; }
  div.mass-dl-row-2 h5 {
    padding-top: 30px; }

div.report-type {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 30px; }

label.checkbox {
  font-weight: normal;
  font-size: 14px; }

span.glyphicon-ok {
  color: green; }

span.glyphicon-remove {
  color: red; }

div.submit-cta {
  display: flex; }
  div.submit-cta input {
    margin-right: 20px; }

h4.success-message {
  color: green; }

h4.dup-status {
  color: red;
  margin-left: 10px; }

p.troubleshooting {
  font-size: 9px;
  font-style: italic; }

span.warning {
  color: red; }

div.drop-down-headings {
  display: flex; }
  div.drop-down-headings h5 {
    margin-right: 20px; }
    div.drop-down-headings h5:hover {
      color: blue;
      cursor: pointer;
      cursor: hand; }

div.drop-down-content ul {
  list-style: circle;
  padding-left: 20px; }
  div.drop-down-content ul li {
    font-size: 12px; }

span.li-item {
  font-weight: normal; }

h5.black {
  color: #1a70b5; }

p.input-subtext {
  font-size: 10px; }

section.instructions {
  border-bottom: 1px solid black; }

div.option-select-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }

div.option-select-2 {
  display: flex; }
  div.option-select-2 button {
    width: 200px;
    margin-right: 20px;
    background-color: #f1f1f1;
    color: black;
    border: 1px solid black;
    box-shadow: -1px 1px 1px 0px black; }
  div.option-select-2 .option-selected {
    background-color: #195aff;
    color: white;
    outline: none;
    border: 1px solid black;
    box-shadow: -1px 1px 1px 0px black; }

div.report-metadata {
  display: flex;
  margin-bottom: 20px; }
  div.report-metadata div {
    display: flex;
    flex-direction: column;
    margin-right: 25px; }

select.role {
  width: 150px; }

input.year-taken {
  width: 250px; }

input.student-class {
  width: 100px; }

div.upload-action {
  display: flex; }
  div.upload-action input {
    margin-right: 25px; }

form.add-reports-dg {
  display: flex;
  flex-direction: column; }

form.download-form {
  display: flex; }
  form.download-form div {
    display: flex;
    flex-direction: column;
    margin-right: 20px; }
  form.download-form select {
    margin-right: 20px; }
  form.download-form input {
    width: 300px;
    margin-right: 20px; }
  form.download-form button {
    font-weight: bold;
    font-size: 14px; }

table.queued-reports {
  width: 600px; }

section.dashboard {
  margin: 5vh 5vw 5vh 0vw;
  width: 100%; }

nav.dashboard-nav {
  display: flex; }

p.dashboard-nav {
  margin-right: 15px;
  border: 1px solid black;
  padding: 2px 5px 2px 5px;
  font-weight: bold; }
  p.dashboard-nav:hover {
    color: blue;
    border: 1px solid blue;
    cursor: pointer;
    cursor: hand; }

button.format-data {
  margin-right: 20px; }

section.manager-create-dashboard {
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65); }

section.create-window {
  position: relative;
  display: flex;
  width: 60vw;
  height: 60vh;
  border: 1px solid #7f007f;
  border-radius: 5px;
  background-color: white; }

div.cd-exit-button {
  position: absolute;
  top: 0;
  right: 0;
  height: fit-content;
  width: fit-content;
  font-size: 16px;
  line-height: 12px;
  padding: 2px;
  color: black; }
  div.cd-exit-button:hover {
    color: red;
    cursor: pointer;
    cursor: hand; }

h4.loading-manager-options {
  font-size: 24px;
  line-height: 34px;
  margin: 0; }

section.dash-selection {
  position: relative;
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 15px; }
  section.dash-selection select {
    margin-right: 20px; }

button.full-screen-dash {
  width: 200px; }

button.create-dashboard-action {
  position: absolute;
  right: 0px;
  width: fit-content;
  font-weight: bold;
  background-color: #98fea2;
  border: 1px solid black;
  box-shadow: -1px 1px 1px 0px black; }

section.dashboard-manager-interface {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px; }
  section.dashboard-manager-interface .row-1 {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  section.dashboard-manager-interface .row-2 {
    display: flex;
    width: 100%;
    padding: 10px 0 20px 0; }

iframe.dashM-iframe {
  width: 55%;
  overflow: hidden;
  border: 1px solid black; }

section.dashboard-manager-data {
  display: flex;
  flex-direction: column;
  width: 40%; }
  section.dashboard-manager-data div.dashboard-manager-title {
    margin-bottom: 15px; }
  section.dashboard-manager-data div.dashboard-manager-metadata {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; }
  section.dashboard-manager-data div.dashboard-manager-notes {
    display: flex;
    flex-direction: column;
    width: 100%; }
    section.dashboard-manager-data div.dashboard-manager-notes textarea {
      width: 100%;
      flex-grow: 1;
      resize: none; }
    section.dashboard-manager-data div.dashboard-manager-notes div.dashboard-manager-notes-options button {
      width: 20%;
      font-size: 12px;
      margin-top: 5px; }
  section.dashboard-manager-data h3, section.dashboard-manager-data p {
    margin: 0;
    padding: 0; }

section.dashboard-manager-options {
  display: flex;
  flex-direction: column;
  width: 4.86111111111111%; }
  section.dashboard-manager-options div:hover span {
    cursor: pointer;
    cursor: hand; }
  section.dashboard-manager-options div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0; }
    section.dashboard-manager-options div span {
      top: 0;
      padding: 0;
      margin: 0; }

button.generate-frame {
  width: 175px;
  margin-right: 20px;
  font-size: 12px; }

div.iframe-html {
  display: flex;
  flex-direction: column; }

input.iframe-html {
  width: 500px;
  margin-right: 20px; }

div.clip-copy-msg {
  display: flex; }
  div.clip-copy-msg p, div.clip-copy-msg span {
    width: fit-content;
    font-size: 12px;
    padding: 0; }
  div.clip-copy-msg span {
    margin-right: 5px; }
  div.clip-copy-msg.copy-success p, div.clip-copy-msg.copy-success span {
    color: green; }
  div.clip-copy-msg.copy-failure p, div.clip-copy-msg.copy-failure span {
    color: red; }

div.iframe-options {
  display: flex;
  flex-direction: column; }
  div.iframe-options p {
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: #6a8bff; }
    div.iframe-options p:hover {
      color: #1402f5;
      cursor: pointer;
      cursor: hand; }

section.dashboard-outer-frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

span.fullscreen-toggle {
  position: absolute;
  color: #9c9c9c;
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0; }
  span.fullscreen-toggle:hover {
    cursor: pointer;
    cursor: hand;
    color: black; }

span.sd-title-name {
  font-weight: 600; }

span.sd-title-static {
  font-weight: 300; }

input[type=checkbox] {
  transform: scale(1); }

section.dashboard-inner-frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto; }
  section.dashboard-inner-frame section.sd-row1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%; }
    section.dashboard-inner-frame section.sd-row1 h1 {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0px; }
  section.dashboard-inner-frame section.sd-row2 {
    display: flex;
    width: 100%; }
    section.dashboard-inner-frame section.sd-row2 section.sd-column1 {
      display: flex;
      flex-direction: column;
      width: 16%;
      justify-content: space-between; }
    section.dashboard-inner-frame section.sd-row2 section.sd-column2 {
      display: flex;
      flex-direction: column;
      width: 84%; }

section.dashboard-filters {
  display: flex;
  flex-direction: column; }

div.student-data-table {
  width: 100%;
  height: fit-content;
  margin: 0px;
  border: 1px solid black; }

table.student-data {
  table-layout: fixed;
  border-collapse: collapse;
  border-bottom: 1px solid #ccc; }
  table.student-data thead th {
    overflow: hidden; }
  table.student-data thead tr {
    display: block;
    position: relative; }
  table.student-data tbody.student-data {
    display: block;
    overflow: overlay; }
    table.student-data tbody.student-data::-webkit-scrollbar * {
      background: transparent; }
    table.student-data tbody.student-data td {
      border-bottom: 1px solid #828282;
      border-right: 1px solid #828282; }
      table.student-data tbody.student-data td:nth-child(1):hover {
        cursor: pointer;
        cursor: hand; }
      table.student-data tbody.student-data td:nth-child(3) {
        border-right: 1px solid black; }
      table.student-data tbody.student-data td:nth-child(7) {
        border-right: 1px solid black; }
  table.student-data tbody.student-data-averages {
    display: block;
    border-top: 2px solid black; }
    table.student-data tbody.student-data-averages tr.current-population-averages {
      background-color: #cdcdcd;
      border-bottom: 1px solid black; }
    table.student-data tbody.student-data-averages tr.adult-averages {
      background-color: whitesmoke; }
    table.student-data tbody.student-data-averages td {
      font-weight: bold;
      border-right: 1px solid #828282; }
      table.student-data tbody.student-data-averages td:nth-child(3) {
        border-right: 1px solid black; }
      table.student-data tbody.student-data-averages td:nth-child(7) {
        border-right: 1px solid black; }

h4.filter-header {
  margin: 0;
  font-weight: 600; }

label.filter-label {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  max-height: 20px;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
  cursor: hand; }
  label.filter-label input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0; }
  label.filter-label p {
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    margin: 0; }
    label.filter-label p:hover {
      font-weight: bold; }

form.filter-form {
  height: fit-content; }

section.student-filter-outer-frame {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%; }

section.student-filter-frame {
  width: 80%;
  border: 1px solid black; }

input.search-bar {
  width: 100%;
  padding: 1px;
  margin: 0;
  border-width: 1px; }

div.student-filter-options {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  overflow-y: scroll;
  overflow-x: auto; }
  div.student-filter-options label p {
    display: inline;
    margin: 0; }

section.gender-filter-outer-frame {
  width: 100%; }

section.gender-filter-frame {
  width: 80%;
  height: fit-content;
  border: 1px solid black; }

div.gender-filter-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content; }
  div.gender-filter-options label p {
    display: inline;
    margin: 0; }

section.class-filter-outer-frame {
  width: 100%;
  height: fit-content; }

section.class-filter-frame {
  width: 80%;
  height: fit-content;
  border: 1px solid black; }

div.class-filter-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content; }
  div.class-filter-options label p {
    display: inline;
    margin: 0; }

th.student-data {
  background: #333;
  color: white;
  font-weight: bold;
  cursor: s-resize; }

tr.student-data:hover td {
  font-weight: bold; }

td.student-data, td.stat-cell, th.student-data {
  border: 1px solid #ccc;
  text-align: left; }

th.des:after {
  content: "\21E9";
  float: right; }

th.asc:after {
  content: "\21E7";
  float: right; }

div.student-data-table {
  position: relative; }

div.dashboard-no-data-display {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  width: 100%; }

div.no-data-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content; }

button.no-data-cta {
  width: 50%;
  font-weight: bold;
  vertical-align: center; }

section.filter-options {
  position: relative;
  flex-grow: 1; }

p.reset-filters-cta {
  position: absolute;
  width: fit-content;
  margin: 0;
  padding: 0;
  color: #6a8bff; }
  p.reset-filters-cta:hover {
    color: #1402f5;
    cursor: pointer;
    cursor: hand; }

section.dashboard-studentdetails {
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65); }

section.student-window {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 90vw;
  height: 90vh;
  border: 1px solid #4F4498; }

div.exit-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #ff9c9c; }
  div.exit-button:hover {
    color: red;
    cursor: pointer;
    cursor: hand; }

span.sd-span {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  font-size: 0;
  margin: 0;
  padding: 0; }

div.sd-content-p {
  width: fit-content;
  display: flex;
  align-items: flex-end; }

p.sd-val {
  width: fit-content;
  height: fit-content;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

p.sd-sub {
  width: fit-content;
  height: fit-content;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #d2d2d2;
  margin: 0; }

label.sd-label {
  width: fit-content;
  color: #b8b7b7;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0; }

figcaption.sde-row3-title-caption {
  color: #858282;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

section.sde-row1 {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 5px; }

div.sde-spacer {
  display: flex;
  width: 100%; }

div.sde-header {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  div.sde-header h3.sde-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    width: 35%;
    margin: 0; }
  div.sde-header div.sde-dems1 {
    display: flex;
    margin: 0;
    width: 45%;
    justify-content: space-between;
    align-items: flex-end;
    border-right: 1px solid #e6e6e6; }
    div.sde-header div.sde-dems1 span.sd-span {
      justify-content: flex-end; }
  div.sde-header div.sde-flags {
    width: 20%; }

section.sde-row2 {
  display: flex;
  border-bottom: 1px solid #e6e6e6; }
  section.sde-row2 div.sde-dems2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid #e6e6e6; }
    section.sde-row2 div.sde-dems2 div.sde-dems2-content {
      display: flex;
      justify-content: space-between; }
      section.sde-row2 div.sde-dems2 div.sde-dems2-content div.sde-dems2-0 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%; }
      section.sde-row2 div.sde-dems2 div.sde-dems2-content div.sde-dems2-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%; }
      section.sde-row2 div.sde-dems2 div.sde-dems2-content div.sde-dems2-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%; }

h4.sde-row2-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #959595;
  margin: 0; }

section.sde-row3 {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #e6e6e6; }

div.sde-disc {
  display: flex;
  flex-direction: column;
  width: 26%; }
  div.sde-disc div.sde-disc-header {
    display: flex; }
  div.sde-disc div.sde-disc-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    div.sde-disc div.sde-disc-content div.disc-val-container {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      div.sde-disc div.sde-disc-content div.disc-val-container figure.disc-chart {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 70%;
        padding-right: 5%; }

div.sde-motivators {
  display: flex;
  flex-direction: column;
  width: 19.3%;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6; }
  div.sde-motivators div.sde-motivators-header {
    display: flex; }
  div.sde-motivators div.sde-motivators-content {
    display: flex;
    flex-flow: column wrap; }
    div.sde-motivators div.sde-motivators-content span.sd-span {
      flex-basis: 33.33333%; }
      div.sde-motivators div.sde-motivators-content span.sd-span:nth-of-type(2), div.sde-motivators div.sde-motivators-content span.sd-span:nth-of-type(5) {
        justify-content: center; }
      div.sde-motivators div.sde-motivators-content span.sd-span:nth-of-type(3n) {
        justify-content: flex-end; }
      div.sde-motivators div.sde-motivators-content span.sd-span:nth-of-type(4), div.sde-motivators div.sde-motivators-content span.sd-span:nth-of-type(5), div.sde-motivators div.sde-motivators-content span.sd-span:nth-of-type(6) {
        padding-left: 25%; }
      div.sde-motivators div.sde-motivators-content span.sd-span p.sd-val {
        color: #80007f; }

div.sde-skills {
  display: flex;
  flex-direction: column;
  width: 53.7%; }
  div.sde-skills div.sde-skills-header {
    display: flex;
    flex-direction: row; }
  div.sde-skills div.sde-skills-content {
    display: flex;
    flex-flow: row wrap; }
    div.sde-skills div.sde-skills-content span.sd-span {
      flex-basis: 20%; }
      div.sde-skills div.sde-skills-content span.sd-span label.sd-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block; }
    div.sde-skills div.sde-skills-content span.sd-span:nth-of-type(5n) {
      margin-right: 0px; }

h4.sde-row3-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #959595;
  margin: 0; }

section.sde-row4 {
  display: flex;
  padding: 10px 0px 0px 0px; }

div.sde-se {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-right: 1px solid #e6e6e6; }
  div.sde-se div.sde-se-header {
    display: flex; }
  div.sde-se div.sde-se-content {
    display: flex; }
    div.sde-se div.sde-se-content div.sde-se-0 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%; }
    div.sde-se div.sde-se-content div.sde-se-1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%; }
      div.sde-se div.sde-se-content div.sde-se-1 span.sd-span {
        padding-left: 25%; }

div.sde-sed {
  display: flex;
  flex-direction: column;
  width: 80%; }
  div.sde-sed div.sde-sed-header {
    display: flex; }
  div.sde-sed div.sde-sed-content {
    display: flex; }
    div.sde-sed div.sde-sed-content div.sde-sed-0 {
      display: flex;
      flex-direction: column;
      width: 25%; }
      div.sde-sed div.sde-sed-content div.sde-sed-0 span.sd-span {
        flex-basis: 50%; }
    div.sde-sed div.sde-sed-content div.sde-sed-1 {
      display: flex;
      width: 37.5%; }
    div.sde-sed div.sde-sed-content div.sde-sed-2 {
      display: flex;
      width: 37.5%; }

h4.sde-row4-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #959595;
  margin: 0; }

div.sort-option {
  display: flex;
  flex-direction: column;
  margin-left: auto; }

section.site-options {
  width: fit-content;
  position: absolute;
  top: 7px;
  right: 12px;
  color: white;
  font-weight: 300;
  margin: 0;
  padding: 0; }
  section.site-options div:hover {
    cursor: pointer;
    cursor: hand; }

section.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; }

div.login-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

form.login-form {
  display: flex;
  flex-direction: column; }
  form.login-form input {
    width: 300px;
    margin-bottom: 15px; }
    form.login-form input:nth-of-type(2) {
      margin-bottom: 25px; }

div.indigo-logo-login {
  width: 6.944444444444vw;
  height: 22.959889349931vh;
  background-image: url("../images/indigo.png");
  background-size: 6.944444444444vw 22.959889349931vh;
  margin-bottom: 40px; }

div.inactivity-logout-message {
  display: flex;
  position: absolute;
  top: 2vh;
  left: 2vw;
  width: 20vw;
  height: fit-content;
  padding: 10px;
  background-color: #fafafa;
  border: 1px solid #7f007f;
  border-radius: 5px; }
  div.inactivity-logout-message h6 {
    margin: 0;
    padding: 0; }
  div.inactivity-logout-message p {
    position: absolute;
    top: 3px;
    right: 3px;
    height: fit-content;
    width: fit-content;
    color: #d2d2d2;
    line-height: 10px;
    padding: 0; }
    div.inactivity-logout-message p:hover {
      color: red;
      cursor: pointer;
      cursor: hand; }

section.sdm-selection {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 15px; }

button.create-data-set {
  width: fit-content;
  font-weight: bold;
  background-color: #98fea2;
  border: 1px solid black;
  box-shadow: -1px 1px 1px 0px black; }

section.data-manager-interface {
  display: flex;
  width: 100%;
  height: 465px;
  max-height: 465px;
  border-bottom: 1px solid black;
  border-right: 1px solid black; }

section.data-manager-objects-sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: rgba(79, 68, 152, 0.5);
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 4px; }

section.data-manager-object-interface {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 0 10px 0 10px; }
  section.data-manager-object-interface h3 {
    width: fit-content;
    margin: 0; }
    section.data-manager-object-interface h3.do-select-cta {
      margin-top: 5px; }
  section.data-manager-object-interface section.data-object-header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90px;
    padding: 5px;
    border-bottom: 1px solid black; }
    section.data-manager-object-interface section.data-object-header p.do-date-created {
      margin-bottom: 5px;
      width: fit-content; }
    section.data-manager-object-interface section.data-object-header h3.do-title {
      margin-bottom: 5px; }
    section.data-manager-object-interface section.data-object-header span.settings-action {
      position: absolute;
      top: 10px;
      right: 0px;
      color: #a3a3a3;
      font-size: 16px; }
      section.data-manager-object-interface section.data-object-header span.settings-action:hover {
        color: black;
        cursor: pointer;
        cursor: hand; }
  section.data-manager-object-interface section.data-object-analysis {
    display: flex;
    width: 100%;
    height: 385px;
    padding: 5px; }
  section.data-manager-object-interface section.data-object-settings {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5px;
    right: 5px;
    display: flex;
    width: 40%;
    height: 455px;
    background-color: #313239;
    border: 1px solid black;
    padding: 5px; }
    section.data-manager-object-interface section.data-object-settings div {
      width: fit-content;
      height: fit-content;
      color: white; }
      section.data-manager-object-interface section.data-object-settings div.do-settings-header {
        border-bottom: 1px solid white;
        margin-bottom: 15px; }
        section.data-manager-object-interface section.data-object-settings div.do-settings-header h4 {
          margin: 0; }
      section.data-manager-object-interface section.data-object-settings div p {
        font-size: 10px; }
    section.data-manager-object-interface section.data-object-settings span.exit-button {
      position: absolute;
      top: 2px;
      right: 2px;
      width: fit-content;
      height: fit-content;
      font-size: 16px;
      line-height: 14px;
      margin: 0;
      color: #c3c3c3; }
      section.data-manager-object-interface section.data-object-settings span.exit-button:hover {
        color: white;
        cursor: pointer;
        cursor: hand; }

div.data-object-thumbnail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #f0f0f0;
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 3px; }
  div.data-object-thumbnail p {
    margin: 0; }
  div.data-object-thumbnail p.do-name {
    font-size: 12px;
    font-weight: bold; }
  div.data-object-thumbnail p.do-date {
    font-size: 10px; }
  div.data-object-thumbnail div.thumbnail-status-indicators {
    display: flex; }
  div.data-object-thumbnail:hover {
    cursor: pointer;
    cursor: hand;
    background-color: white; }

div.do-selected {
  background-color: white;
  border: 2px solid #35ed4d; }

div.thumbnail-status-indicators {
  display: flex; }
  div.thumbnail-status-indicators div {
    display: flex;
    align-items: center;
    margin-right: 10px; }
    div.thumbnail-status-indicators div span {
      font-size: 10px;
      margin-right: 5px;
      height: fit-content; }
    div.thumbnail-status-indicators div p {
      font-size: 10px; }

div.status-indicators {
  display: flex;
  width: fit-content; }
  div.status-indicators div {
    display: flex;
    align-items: center;
    margin-right: 20px; }
    div.status-indicators div span {
      font-size: 16px;
      margin-right: 6px;
      height: fit-content; }
    div.status-indicators div p {
      text-align: center;
      align-self: center;
      font-size: 13px;
      margin: 0; }

span.encrypted {
  color: green; }

span.not-encrypted {
  color: red; }

span.active {
  color: green; }

span.inactive {
  color: red; }

@keyframes opacityTransition {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.1; } }
div.dashboard-loading-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; }
  div.dashboard-loading-indicator div.indigo-logo {
    width: 6.944444444444vw;
    height: 22.959889349931vh;
    background-image: url("../images/indigo.png");
    background-size: 6.944444444444vw 22.959889349931vh;
    animation-name: opacityTransition;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s; }
  div.dashboard-loading-indicator h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: #555555;
    margin: 0;
    padding: 0; }

/*# sourceMappingURL=style.css.map */
