<section class="function-section ent_list">

  <section class="instructions">
    <h5>Instructions</h5>
    <ol>
      <li><span class="li-item">Populate each input field with the correct information, and wait for verification of the link. (will take longer for larger links)</span></li>
      <li><span class="li-item">When link has been verified, select report types for download, click 'Download', and confirm.</span></li>
      <li><span class="li-item">Duplicates will be removed within each report type. The downloaded assessments will contain a suffix denoting the report type (refer to troubleshooting/reference section), so that if the same student appears under two different report types being downloaded simultaneously, the file won't be overwritten.</span></li>
      <li><span class="li-item">Wait for download to finish. The total number of reports (eg. the 100 in '50/100 Reports Downloaded...') reflects the total number after removal of duplicate reports.</span></li>
      <li><span class="li-item">Once completed, your files will be zipped and delivered (this may take a few seconds, refer to troubleshooting section below for time estimates).</span></li>
      <li><span class="li-item">The .zip file unzips into one folder which contains all of the downloaded assessments. If your operating system doesn't have a built in function for handling zipped files, refer to the troubleshooting/reference section for guidance.</span></li>
      <li><span class="troubleshooting warning li-item">Please do not refresh or navigate from page while reports are downloading and/or being delivered - app has not yet been designed to handle this (Upon reinitiation of download, it may attempt to resume previous download).</span></li>
    </ol>
    <div class="drop-down-headings">
      <h5 ng-click="view.toggleTroubleshooting()" ng-class="{ black: view.troubleshootingHidden }">Troubleshooting/Reference</h5>
      <h5 ng-click="view.toggleSumPageGen()" ng-class="{ black: view.sumPageGenHidden }">Summary Page Generation</h5>
    </div>
    <div ng-show="!view.troubleshootingHidden" class="troubleshooting drop-down-content">
      <ul>
        <li>Link verification takes slightly longer for larger links (roughly 1 seconds per 100 reports). If verification is indefinitely stuck in 'verifying', refresh the page and try again.</li>
        <li>'Indigo Assessmet', 'Indigo Me', and 'Indigo Skills' are currently the supported report types. Others can be easily added upon request, if needed.</li>
        <li>File Zipping and Delivering takes significantly longer for larger downloads. Expect roughly 1 minute per 500 reports.</li>
        <li>If link verification remains 'unverified', make sure that login and password are correct. Some links are associated with two accounts (the account directly associated with it, and the account which houses that one). Usually, both can be valid as the authentication username/password. If for some reason one doesn't seem to work, try the other.</li>
        <li>If in doubt, if obstacle is discovered within program or something appears to be stuck, refresh the page and try again.</li>
      </ul>
    </div>
    <div ng-show="!view.sumPageGenHidden" class="sum-page-gen drop-down-content">
      <ol>
        <li><span class="li-item">For the TTI link with which you would like to download the summary pages, at the bottom of the TTI 'link info' tab, click 'edit' to edit the link.</span></li>
        <li><span class="li-item">Under 'Custom' where default report type is displayed, select the report type which includes the summary page only. This is usually called 'Summary Only' or something very similar. If unsure, clarify with Sueann. Make sure you remember the current selected report type before making the alteration, because you will need to change it back. Scroll to the bottom of the page and click 'Save'.</span></li>
        <li><span class="li-item">Follow the above instructions for the TTI batch downloader, selected the appropriate report type for summary page downloads, and wait for the zip file to be delivered.</span></li>
        <li><span class="li-item">Once you have the files unzipped, go to https://smallpdf.com/ and login with account: apps@indigoproject.org, password: Liveyourgenius7</span></li>
        <li><span class="li-item">Once logged in, find the 'Merge PDF' service. Pull up the file with the reports, make sure they are sorted alphabetically within their directory (which they already should be), then click merge.</span></li>
        <li><span class="li-item">When merge is complete, find the 'Compress PDF' function (this usually shows up as an additional option in the sequence once merge is complete), and compress the merged PDF.</span></li>
        <li><span class="li-item">When compression is complete, download the file and rename it accordingly.</li>
        <li><span class="li-item">Lastly, and crucially, go back to the TTI link editing section, and change back to the report type that was previously set. Click Save, and you're done.</li>
      </ol>
    </div>
  </section>

  <form class="mass-dl-form form-group" ng-submit="data.batchDownload()">
    <div class="mass-dl-row-1">
      <div>
        <label for="" >Enter Authentication Username</label>
        <p class="input-subtext">The username you used to log in to the TTI Account</p>
        <input class="form-control short" type="text" ng-model="form.login" ng-change="data.validateLink()" required autocomplete="on">
      </div>
      <div>
        <label for="">Enter Authentication Password</label>
        <p class="input-subtext">The password you used to log in to the TTI Account</p>
        <input class="form-control short" type="text" ng-model="form.password" ng-change="data.validateLink()" required autocomplete="on">
      </div>
      <!-- <h5>{{view.authStatus}}</h5> -->
    </div>
    <div class="mass-dl-row-2">
      <div>
        <label for="">Enter Account ID</label>
        <p class="input-subtext">The Account ID for the Account housing the link. Within TTI, click on <br> the Account Info tab and copy the text string from the 'login' field.</p>
        <input class="form-control short" type="text" ng-model="form.accountID" ng-change="data.validateLink()" required autocomplete="on">
      </div>
      <div class="ver-msg">
        <label for="">Enter Link ID</label>
        <p class="input-subtext">The associated 9 character Link ID. Within the link, <br>click on the Link Info tab and copy the text string from the 'login' field.</p>
        <input class="form-control short" type="text" ng-model="form.linkID" ng-change="data.validateLink()" required autocomplete="on">
        <!-- pattern=".{9}" title="all links should consist of 9 characters" -->
      </div>
      <h5 ng-show="view.linkIdStatus === 'verifying'">Verifying Link...</h5>
      <h5 ng-show="view.linkIdStatus === 'verified'"><span class="glyphicon glyphicon-ok"></span> Link Verified</h5>
      <h5 ng-show="view.linkIdStatus === 'unverified'"><span class="glyphicon glyphicon-remove"></span> Link Not Verified</h5>
      <h5 ng-show="view.linkIdStatus === 'incomplete'"> Incomplete Link ID ...</h5>
    </div>
    <div class="report-type-outer-container" ng-show="view.linkIdStatus === 'verified'">
      <label>Select Report Types For Download (must select at least 1)</label>
      <div class="report-type container">
        <label class="checkbox" ng-repeat="reportType in data.reportTypeOptions">
          <input type="checkbox" value="{{reportType}}" ng-click="form.toggleCheckboxSelection(reportType)" ng-checked="form.reportTypeSelection.indexOf(reportType) > -1" ng-model="form.reportTypes[$index]">{{reportType}}
        </label>
      </div>
    </div>
    <label for="">Download Files</label>
    <p class="input-subtext">Upon completion of download, you will receive a zipped file with the assessments.</p>
    <!-- <input class="form-control long" type="text" ng-model="form.directory" placeholder="/Documents/Indigo/SchoolData/SchoolName/Assessments" value="/Documents/IndigoProject/TestDir" required> -->
    <!-- <label for="">Enter Desination Path (Download Directory)</label>
    <p class="input-subtext">Must be an already existing directory. Prepend with '/' to place reference from the currently logged in user's home directory, and build the path from there.
    For example, "/Documents/Indigo/SchoolData/SchoolName/Assessments".</p>
    <input class="form-control long" type="text" ng-model="form.directory" placeholder="/Documents/Indigo/SchoolData/SchoolName/Assessments" value="/Documents/IndigoProject/TestDir" required> -->
    <div class="submit-cta">
      <input class="form-control submit" type="submit" ng-value="view.formStatus">
      <h4 ng-show="data.downloadStatus === 'Complete'" class="success-message">{{view.successMessage}}</h4>
      <h4 ng-show="data.downloadStatus === 'Processing'" class="success-message">{{view.statusMessage}}</h4>
      <h4 ng-show="data.downloadStatus === 'Complete'" class="dup-status">{{view.dupNumber}}</h4>
    </div>
  </form>

</section>
